body {
  background-color: #ffffff; /*#F8E9EE*/
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
#logo {
  font-family: 'Roboto Slab', serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
.abt-head {
  font-size: 50px;
}
.types {
  width: 50%;
  border: 10px solid #FFD1DC;
  border-radius: 100%;
  margin: 0px 10;
}
#logo {
    font-family: 'Roboto Slab', serif;
}

.titleAbout {
  font-family: 'Roboto Slab', serif;
}

#captionAbout {
  text-align: center;
}

#aboutBG {
  color: #ffdddd;
}
.caption {
  font-weight: 300;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.navbar {
    background: #ffdddd;
}



