* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff; /*#F8E9EE*/
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.types {
    width: 200px;
    height: auto;
    border-radius: 10px;
    padding: 0px 30;
}

a {
    text-decoration: none;
    color: inherit;
}
#logo {
    font-family: 'Roboto Slab', serif;
}
.titles {
    text-align: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 20%;
    margin-bottom: 100px;
    color: #111111;
}
.buttons {
    background-color: #ffffff;
    margin-top: 100px;
    padding: 25px 50px;
    border-radius: 25px;
    border: 1px solid #111111;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 30px;
}
.buttons:hover {
    background-color: #F8E9EE;

}
.abt-head {
    font-size: 50px;
}
.abt-titles {
    font-weight: 300;
    font-size: 30px;
}
.nav-bar {
    background-color: #ffdddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 8%;
    padding: 10px 10%;
    color: #252525;
}
.left-side {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.right-side {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
.grid {
    padding: 5px;
    margin: 5px;
}
.descrpt-box {
    margin: 15px 60px;
}


#login {
    background-color: #9de5f1;
}
#login:hover {
    background-color: #4fe8f3;
}
#signup {
    background-color: #c4a3da;
}
#signup:hover {
    background-color: rgb(219, 100, 255);
}

