@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
.container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.title {
  margin-left: 20px;
}
.box {
  border-radius: 25px;
  border: 2px solid #ffdddd;
  box-shadow: 3px 3px 5px #888888;
  padding: 20px; 
  margin-bottom: 15px;
  margin-right: 10%;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ffdddd;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #fd4b86;
}

.searchTerm:focus{
  color: #fd4b86;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ffdddd;
  background: #ffdddd;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab { 
  margin-left: 40px; 
}